<!-- Yardım Gönüllüsü main sayfasıdır-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Header Bölümü -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Yardım Sitesi</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav navbar-right">
       			<li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> &nbsp;Kullanici Adi <span class="caret"></span></a>
			        <ul class="dropdown-menu">
				        <li><a href="profilim.html">Profilim</a></li>
				       
				        <li role="separator" class="divider"></li>
				        <li><a href="#">Çıkış</a></li>
			        </ul>
			    </li>
     		</ul>
		</div>
	  </div>
	</nav>


<div class="container">
	<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profilim</a></li>
      <li><a href="#profile" data-toggle="tab">Parolam</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form id="tab"><br>
            <label>Adınız</label>
            <input type="text" value="Cem" class="form-control"><br>
            <label>Soyadınız</label>
            <input type="text" value="Güreşci" class="form-control"><br>
            <label>İliniz</label>
            <input type="text" value="İzmir" class="form-control"><br>
            <label>Email</label>
            <input type="text" value="cem@gamil.com" class="form-control"><br>
            <label>Hikayeniz</label>
            <textarea value="Smith" rows="3" class="form-control">takılıp duru napsın
            </textarea><br>
         
          	<div>
        	    <button class="btn btn-primary">Güncelle</button>
        	</div>
        </form>
      </div>
      <div class="tab-pane fade" id="profile">
    	<form id="tab2"><br>
        	<label>Yeni Parola</label>
        	<input type="password" class="form-control"><br>
        	<div>
        	    <button class="btn btn-primary">Güncelle</button>
        	</div>
    	</form>
      </div>
  </div>
</div>


	
</body>
</html>